.intro-content {
  position: relative;
  /* top: -8rem; */
  display: grid;
  grid-template-columns: 1.5fr;
  gap: var(--gap);
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  max-width: 64rem;
}

.btn{
  display: inline-block;
  background: #a3ffbf;
  border-radius: 3px;

  padding: 12px 32px;
  text-transform: uppercase;

  transform: translate(0%, -15%);
  transition: .7s ease;
  
  position: relative;
}

.btn:hover{
  background: #fff;
}



.intro-text-content, .intro-img {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
 
 
}
.intro-text-content h2 {
  color: var(--secondary-color)
  
}

.intro-img img,
.intro-img svg {
  max-width: 100%;
  height: auto;
}

.secao2-content {
  max-width: 64rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.grid-one-content{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  min-height: 100vh;
}

.grid-main-heading {
  margin-bottom: 1rem;
  
}

.grid-description {
  color: var(--secondary-color);
  font-weight: bold;
  padding-bottom: 1rem;
}

.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
  gap: var(--gap);
  counter-reset: grid-counter;
}

.grid h3 {
  font-size: 2.5rem;
  position: relative;
  padding-left: 8rem;
  padding-bottom: 2rem;
  
}

.grid h3::before {
  counter-increment: grid-counter;
  content: counter(grid-counter);
  position: absolute;
  font-size: 6rem;
  color: #a3ffbf;
  font-style: italic;
  top: -2rem;
  left: 1rem;
  transform: rotate(5deg);
}

.gallery-img {
  width: 100%;
  max-width: 36rem;
  max-height: 36rem;
  overflow: hidden;
}

.gallery-img img {
  transition: all 300ms ease-in-out;
}

.gallery-img img:hover {
  transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}

@media (max-width: 800px) {
  .intro-content, .grid {
    grid-template-columns: 1fr;
  }
  .gallery-img{
    width: 100%;
    max-width: 100%;
    min-height: 100%;
  }
  .gallery-img img{
    width: 100%;
  }
  .grid-one-content{
    display: block;
  }
  .menu {
    bottom: 0;
    text-align: center;
  }
  .menu-content, .menu-content ul {
    flex-direction: column;
    justify-content: center;
  }

  .menu-content {
    height: 100vh;
  }

  .menu {
    display: none;
  }

  .close-menu-label::after {
    content: '☰';
    position: fixed;
    z-index: 2;
    top: 2rem;
    right: 2rem;
    background: var(--secondary-color);
    color: var(--white-color);
    font-size: 3rem;
    line-height: 3rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
  }

  .close-menu:checked~.menu {
    display: block;
  }

  .close-menu:checked~.close-menu-label::after {
    content: '×';
  }

  .menu-spacing {
    display: none;
  }
}

.responsive-table {
  overflow: hidden;
  overflow-x: auto;
}

table {
  min-width: 360px;
  width: 100%;
  border-collapse: collapse;
}

table caption {
  font-style: italic;
  font-size: 1.6rem;
  text-align: left;
  margin-bottom: 1rem;
}

table td, table th {
  white-space: nowrap;
  padding: 1rem;
  text-align: left;
  border: 0.1rem solid var(--secondary-color)
}

tfoot td, table th {
  background: var(-white-color);
}

.contact-form {
  grid-column: span 2;
}

.contact-form .form-grid {
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap);
}

.form-grid legend {
  font-style: italic;
  font-size: 1.6rem; 
  margin-bottom: 3rem;
}

.form-group {
  flex: 1 1 320px;
}

.form-group label {
  display: block;
  margin-bottom: 1rem;
}

.form-group input,
.form-group textarea {
  border: none;
  background: var(--white-color);
  padding: 1rem 1rem;
  width: 100%;
  font-size: 2rem;
  outline: none;
}

.form-group input:focus,
.form-group textarea:focus {
  box-shadow: 0 0 10px 2px var(--secondary-color);
}

.form-group button {
  border: none;
  background: #a3ffbf;
  color: var(--primary-color);
  padding: 1.5rem 2rem;
  font-size: 2rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.form-group button:hover {
  background: var(--white-color);
  color: var(--primary-color);
}

.form-group ::placeholder {
  color: var(--primary-color);
}

.footer {
  text-align: center;
  font-size: 1.6rem;
}

.footer a {
  color: var(--primary-color);
}

.heart {
  color: var(--secondary-color);
}

.footer p {
  margin: 0;
  padding: 3rem;
}


.close-menu {
  display: none;
}



.back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background: var(--white-color);
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--primary-color);
  transform: rotate(-90deg);
  border: 0.1rem solid var(--primary-color);
}