@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

 :root {
    --primary-color: #163B5C;
    --secondary-color: #65C5F2;
    --white-color: #FFFFFF;
    --light-gray-color: #EEEEEE;
    --gap: 3rem;
  }